
.profile-container{
    transform: translateY(60px);
}
.img-div{
    border-radius: 95px;
    height: 30vh;
    width: 14vw;
    margin: 50px 0px 30px 0px;
}
.left-div > h5{
    font-weight: 900;
    font-size: 30px;
}
.left-div > h6{
    font-size: 17px;
}
.top-right-div {
    /* border: 1px solid red; */
    width: 85%;
    justify-content: space-around;
    margin: 60px 0px;

}
.top-right-div > ul{
    list-style-type: none;
}
.list-title{
    font-weight: 800;
    font-size: 17px;
}
.profile-image{
    border-radius: 95px;
    height: 30vh;
}
.bottom-right-div{
    margin-top: -22px;
    width: 85%;
}

.staff-photo{
    border-radius: 50%;
    height: 11%;
    width: 100%;
}
.action-btn{
    border-radius: 50px; 
}

.add-staff-btn{
    transform: translateY(81px);
}
.profile-description{
    padding: 30px 0px;
}
.profile-title-right{
    transform: translateY(20px);
}

.table td, 
.table th {
    white-space: nowrap;
    width: 1%;
}

.ul-desc{
    transform: translateX(18px);
}


@media screen and (max-width: 990px) {
    .add-staff-btn{
        transform: translateX(176px);
    }
}






